<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
   namespace: Used to specify that the mapping file needs to be mapped Dao Interface
-->
<mapper namespace="com.kainos.ea.db">

    <resultMap id="JobRoleResultMap" type="com.kainos.ea.objects.JobRole">
        <id property="jobRoleID" column="JobRoleID"/>
        <result property="jobTitle" column="JobTitle"/>
        <result property="jobSpec" column="JobSpecification"/>
        <result property="jobCompetencies" column="JobCompetencies"/>
        <association property="jobBand" column="JobBand" javaType="com.kainos.ea.objects.JobBand">
            <id property="jobBandId" column="JobBandID"/>
            <result property="jobBand" column="JobBand"/>
        </association>
        <association property="jobCapability" column="JobCapability" javaType="com.kainos.ea.objects.JobCapability">
            <id property="jobCapabilityId" column="JobCapabilityID"/>
            <result property="jobCapability" column="JobCapability"/>
        </association>
    </resultMap>

    <select id="getAllJobRoles" resultMap="JobRoleResultMap" resultType="com.kainos.ea.objects.JobRole">
        SELECT
        jr.*, jb.*, jc.*
        FROM JobRoles jr
        LEFT JOIN JobBand jb
        ON jr.JobBand = jb.JobBandID
        LEFT JOIN JobCapability jc
        ON jr.JobCapability = jc.JobCapabilityID;
    </select>
</mapper>